.leftbar-friend {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  cursor: pointer;
}

.leftbar-friend-img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}
